PORT=8080
DATABASE_URL=postgres://postgres:postgres@localhost:5432/zus_home_assessment?sslmode=disable
KAFKA_BROKERS=localhost:9092
KAFKA_ORDER_TOPIC=orders.created
KAFKA_CONSUMER_GROUP=order-summary-worker
